
.container {
    width: 50%;
    border: 2px solid #ccc; /* Changed border color for the visible box */
    border-radius: 10px; /* Rounded corners for the box */
    padding: 20px;
}

.upload-form {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


input[type="file"] {
    width: calc(100% - 22px); /* Adjusting width considering the padding and border */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Changed border color */
    border-radius: 5px;
    outline: none; /* Remove the default outline */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
